<footer>
    <span>
        Made with <i class="fas fa-heart" style="color: var(--clr-red)"></i> by <a href="https://roelc.me" target="_blank" referrerpolicy="no-referrer">pixnyb</a>
    </span>
    <span>
        {% for item in site.data.[page.lang].navigation.social_nav %}
            {% if item.divider %}
                <span class="divider">{{ site.divider_character }}</span>&nbsp;
            {% else %}
                <a href="{{ item.url | relative_url }}">{% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}</a>&nbsp;
            {% endif %}
        {% endfor %}
    </span>
    <span>
        {% for item in site.data.[page.lang].navigation.footer_nav %}
            {% if item.divider %}
                <span class="divider">{{ site.divider_character }}</span>&nbsp;
            {% else %}
                <a href="{{ item.url | relative_url }}">{% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}{{ item.title }}</a>&nbsp;
            {% endif %}
        {% endfor %}
    </span>
</footer>