<header>
    <picture>
        <source srcset="{{ "/assets/images/logo-dm.svg" | relative_url }}" type="image/svg+xml" media="(prefers-color-scheme: dark)">
        <source srcset="{{ "/assets/images/logo-dm.jpg" | relative_url }}" type="image/jpeg" media="(prefers-color-scheme: dark)">
        <source srcset="{{ "/assets/images/logo-dm.png" | relative_url }}" alt="{{ site.title }}" media="(prefers-color-scheme: dark)">
        <source srcset="{{ "/assets/images/logo.svg" | relative_url }}" type="image/svg+xml">
        <source srcset="{{ "/assets/images/logo.jpg" | relative_url }}" type="image/jpeg">
        <img src="{{ "/assets/images/logo.png" | relative_url }}" alt="{{ site.title }}">
    </picture>
    <nav class="desktop">
    <ul>
        {% for item in site.data.[page.lang].navigation.header_nav %}
        <li>
            {% if item.divider %}
                <span class="divider">{{ site.divider_character }}</span>&nbsp;
            {% else %}
                <a href="{{ item.url | relative_url }}">
                {% if item.icon %}
                    <i class="{{ item.icon }}"></i>
                {% endif %}
                {{ item.title }}
                </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    </nav>
    <nav class="nav-right desktop">
    <ul>
        {% for item in page.translations %}
        <li>
            {% if item.divider %}
                <span class="divider">{{ site.divider_character }}</span>&nbsp;
            {% else %}
                <a href="{{ item.url | relative_url }}" class="{% if item.url == page.url %}active{% endif %}">
                {{ site.data.[page.lang].languages[item.lang] }}
                </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    </nav>
    <button id="menu-toggle" data-toggles="mobile-menu">
    <i class="fas fa-bars inactive"></i>
    <i class="fas fa-times active"></i>
    </button>
    <nav class="mobile" id="mobile-menu">
    <ul>
        {% for item in site.data.[page.lang].navigation.header_nav %}
        <li>
            {% if item.divider %}
                <span class="divider">{{ site.divider_character }}</span>&nbsp;
            {% else %}
                <a href="{{ item.url | relative_url }}">
                {% if item.icon %}
                    <i class="{{ item.icon }}"></i>
                {% endif %}
                {{ item.title }}
                </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <hr/>
    <ul>
        {% for item in page.translations %}
        <li>
            <a href="{{ item.url | relative_url }}" class="{% if item.url == page.url %}active{% endif %}">
            {{ site.data.[page.lang].languages[item.lang] }}
            </a>
        </li>
        {% endfor %}
    </ul>
    </nav>
</header>