{% if content contains "<h2" or content contains "<h3" or content contains "<h4" %}
<aside>
    <div class="content">
        <h2>{{ site.data.[page.lang].words.table_of_contents }}</h2>
        <nav>
        {% assign all_headings = content | split: '<h' %}
        {% assign headings = all_headings | slice: 1, all_headings.size %}
        {% for heading in headings %}
            {% assign level = heading | slice: 0, 1 | plus: -1 %}
            {% assign title = heading | split: "</h" | first | split: ">" | last | strip %}
            {% if title == "" %}
                {% continue %}
            {% endif %}
            {% capture id %}
                {{ heading | split: 'id="' | last | split: '"' | first }}
            {% endcapture %}
            {% assign id = id | strip %}
            <a class="toc-link" style="margin-left: {{ level  }}rem" href="#{{ id }}">{{ title }}</a>
        {% endfor %}
        </nav>
    </div>
</aside>
{% endif %}